/* src/components/Skills.css */

/* src/components/Skills.css */

.skills-section {
    padding: 1rem 2rem 2rem 2rem;
    /* Reduced bottom padding from 4rem to 2rem */
    background-color: #f9f9f9;
    text-align: center;
}

.skills-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.skill-card {
    background-color: #cacce5;
    color: #0e0373;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-8px);
    /* Moves the skill up when hovered */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhances the shadow when hovered */
}

@media (max-width: 768px) {
    .skills-container {
        gap: 1rem;
    }

    .skill-card {
        width: 120px;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }
}